/* ChangePassword.css */
.changePasswordContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.changePasswordContainer h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
}

.labelCustom {
  display: block;
  margin-bottom: 5px;
}

.inputCustom {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.customButton {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.customButton:hover {
  background-color: #0056b3;
}
