.main {
  width: 100%;
  height: 100vh;
  background-image: url("/src/assets/images/background_resetpassword.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.resetContainer {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.resetContainer h2 {
  font-size: 24px;
  color: #00e6ff;
  font-weight: bold;
  margin-bottom: 20px;
}

.inputCustom {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  padding-right: 40px; /* Để chừa chỗ cho icon */
}

.inputCustom:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.buttonCustom {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.buttonCustom:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.buttonCustom:active {
  background-color: #004494;
  transform: scale(1);
}

.inputWrapper {
  position: relative;
}

.eyeIcon {
  position: absolute;
  right: 10px; /* Chuyển từ 1rem (10px) */
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 20px; /* Từ 2rem (20px) */
}
